*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    min-width: 1060px;
    font-size: 1.8rem;
    line-height: 1.6;
    font-family: Roboto, Avenir, sans-serif;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.container-float {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.container-float::after {
    display: block;
    content: "";
    clear : both;
}
.logo{
    margin: 0;
    padding-left: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
.nav{
    text-align: right;
}
.list{
    margin: 0;
    font-size: 0;
}
.list-item{
    font-weight: 700;
    display: inline-block;
    font-size: 1.3rem;
}
.list-item > a{
    color: white;
    display: block;
    padding: 10px;
    text-transform: uppercase;
}
.list-item > a:hover{
    color: #c9f0dd;
}

.header {
    background: green;
    height: 72px;
    padding: 15px 0 4px;
}

.hero-section {
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid #cfe3dc
}
.intro-desc{
    width : 700px;
    margin: 40px auto 50px;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 1.3;
}
.cta{
    color: white;
    font-weight: 400;
    display: block;   
    border-radius: 8px;
    background: #44b78b;
}
.cta:hover{
    background: #51be95;
}
.hero-cta{
    width: 300px;
    margin: 0 auto 60px;
    padding: 20px 50px;
}

.main-content{
    float: left;
    width: 70%
}
.main-title{
    font-weight: 400;
    margin: 40px 0 20px 0;
    font-size: 3.2rem;
    letter-spacing: -1px;
}

.mailing{
    float: left;
    width:47%;
    margin-right: 2%;
}
.mailing:first-child{
    margin-right: 4%;
}
.mailing-title > a{
    color:#44b78b;
}
.mailing-desc{
    font-size: 1.3rem;
}
.mailing-form {
    margin: 10px 0 30px;
    position: relative;
}
.mailing-form > label{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    background : grey;
    margin : -1px;
    clip: rect(0,0,0,0);
}
input[type="email"]{
    width: 100%;
    border: 1px solid #91ceb8;
    border-radius: 4px;
    height: 5rem;
    padding: 6px 80px 8px 10px;
}
.mailing-form-btn{
    position: absolute;
    top:30%;
    right:10px;
    border:0;
    background: transparent;
    color: #44b78b;
    cursor : pointer;
}
.mailing-form-btn:hover{
    color : #91ceb8;
}
.side-content{
    float: right;
    width: 30%;
    border-left: 1px solid #cfe3dc;
    padding-left: 10px;
}
.side-content a:hover{
    color: #25c488;
}
.container-side-cta{
    text-align: center;
}
.side-cta{
    width:330px;
    padding: 16px 24px;
    margin: 40px auto 0;
}
.cta.side-cta:hover{
    color:white;
}
.side-cta em{
    font-style: normal;
    color: #c9f0dd;
}
.more{
    margin-top:20px;
    color: #44b78b;
    display: block;
    font-weight: 500;
    font-size:1.2rem;
    text-transform: uppercase;
}
.more::after{
    content:' > ';
}
.infos-title{
    font-size: 2rem;
    border-bottom: 1px solid #cfe3dc;
    font-weight: 500;
    margin: 3.5rem 0 0 0;
    padding-bottom:1rem;
}
.news-title > a,
.community-title >a{
    font-size: 1.7rem;
    color:#44b78b;
    font-weight: 500;
}
.list-communities{
    padding: 20px 0;
    margin: 0;
}
.community-title:nth-child(n+2){
    margin-top:14px;
}
.community-desc{
    font-size:1.4rem;
    color: #859d94;
    margin:10px 0 0 0;
}
.news-meta {
    font-size: 1rem;
    color : grey;
}
.content-info {
    background: green;
}
.links {
    background: #44b78b;
}
.footer {
    background: purple;
    clear: both;
}